@charset "UTF-8";

/* Todas as demais midias */

/* typical Break points
pequenas telas: até 600px
celular: 600px ate 768px
tablet: 768px ate 992px
PC: 992px ate 1200px
TV: acima de 1200px

*/

@media screen and (min-width: 768px) and (max-width:992px){
    body {
        background-image: linear-gradient(to top, #E3C16F , #808080 ) ;
    }
    section#login {
        width: 90vw;

    } 
    section#login > div#imagem {
        float: left;
        width: 30%;
        height: 100%;

    } 
    section#login > div#formulario {
        float: right;
        width: 70%;
    } 
}
@media screen and (min-width: 992px){
    body {
        background-image: linear-gradient(to top , #E3C16F, #808080);
    }
    section#login {
        width: 910px;
    }
    section#login > div#imagem {
        float: left;
        width: 50%;
        height: 100%;
    }
    section#login > div#formulario {
        float: right;
        width: 50%;

    }
    
}